.banner__title-hld {
	margin-bottom: 95px;
}

.banner__hld {
	position: absolute;
	@include psa(0, 0, 0, 0);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	margin: auto;
}

.banner__title {
	margin-top: 5px;
	color: $c-white;
	font-size: $fz-1;
	letter-spacing: 0;
	small {
		display: block;
		font-size: 45px;
		font-family: $font-special;
		letter-spacing: 0;
		text-transform: none;
	}
}

.banner__title-up {
	color: $c-white;
	font-size: 30px;
	font-weight: $f-w-medium;
}

video { 
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background: url('../images/bg.png') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}

.stopfade { 
	opacity: .5;
}

.banner-video__nav {
	position: absolute;
	bottom: 20px;
}

// #banner-video button { 
// 	display: block;
// 	width: 80%;
// 	padding: .4rem;
// 	border: none; 
// 	margin: 1rem auto; 
// 	font-size: 1.3rem;
// 	background: rgba(255,255,255,0.23);
// 	color: #fff;
// 	border-radius: 3px; 
// 	cursor: pointer;
// 	transition: .3s background;
// }


