
.section__col-hld {
	display: flex;
	justify-content: space-between;
}

/* =============================================================================
	FIRST SECTION
============================================================================= */

.section--first__col-right,
.section--first__col-left {
	box-sizing: border-box;
}

.section--first__col-right {
	display: flex;
	justify-content: flex-end;
	padding: 60px 0;
}

.section--first__title {
	margin-bottom: 80px;
}

.section--first__p {
	margin: 70px 0;
}

.section--first__box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 335px;
	min-width: 335px;
	height: 405px;
	margin: 10px;
	background: $c-white;
	box-shadow: 0 13px 18px rgba($c-shadow, .07);
}

.section--first__box-text {
	display: inline-block;
	margin-top: 30px;
	font-size: 27px;
	line-height: 1.4;
	font-weight: $f-w-normal;
}

.section--first__box-1 {
	z-index: 3;
	margin-right: -30px;
	color: $c-black;
}

.section--first__box-2 {
	z-index: 1;
	margin-top: 315px;
	margin-right: -60px;
	color: $c-accent-2-light;
}

.section--first__box-3 {
	z-index: 2;
	margin-top: 65px;
	color: $c-accent-1;
}

/* =============================================================================
	SECOND SECTION
============================================================================= */

.section--second__left {
	width: 320px;
}

.section--second__right {
	width: calc(100% - 320px);
}

.section--second__right-img-hld {
	position: relative;
	height: 100%;
	max-height: 620px;
}

.section--second__right-img {
	width: 100%;
	height: 100%;
	max-height: 620px;
	object-fit: cover;
}

.section--second__right__content-hld {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	max-width: 660px;
	height: 330px;
	padding: 30px 47px;
	background: $c-white;
	box-shadow: 3px 0 16px rgba($c-black, .14);
}

.section--second-img {
	display: block;
	margin-top: 60px;
	margin-left: -20px;
}

.section--second__nav {
	.section--second__nav-item {
		padding: 7px 0;
		a {
			cursor: pointer;
			color: $c-black;
			font-size: 20px;
			font-weight: 600;
			transition: all .4s ease-in-out;
			&:hover,
			&.is-hovered {
				color: $c-accent-1;
				font-weight: 700;
			}
		}
	}
}

.section--second__right__title {
	margin-bottom: 15px;
	color: $c-accent-2;
	font-size: $fz-2;
}