h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: $f-w-semi-bold;
    line-height: 1.2;
    text-transform: uppercase;
}

h1 {
    font-size: $fz-1;
}

h2 {
    font-size: $fz-2;
}


.t-content {
    color: $c-content;
    font-size: 19px;
    line-height: 33px;
    font-weight: $f-w-light;
}

.t-accent {
    color: $c-accent-1;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}